.tabs-animated-wrap {
    height: 100%;
}

#locarjs {
    object-fit: fill;
}

#navbar, #route-input {
    margin: 0rem 1rem 2rem 1rem;
    border-radius: 2rem;
    width: calc(100% - 2rem);
}

#navbar .tab-link:first-child {
    border-radius: 2rem 0rem 0rem 2rem;
}

#navbar .tab-link:nth-child(2) {
    border-radius: 0rem 2rem 2rem 0rem;
}

#route-input {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: var(--background-color);
}

#route-input .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem;
    height: 4rem;
    padding: .5rem;
    background: var(--background-color);
}

#route-input .nav #search-input {
    width: 100%;
    height: 100%;
    border: .1rem solid var(--primary-color);
    padding: 0rem 1rem;
    border-radius: 2rem 0rem 0rem 2rem;
    background: #f3eaff;
}

#search-button {
    border-radius: 0rem 2rem 2rem 0rem;
}

#settings-button {
    border-radius: 2rem;
    background: #f3eaff;
    border: .1rem solid var(--primary-color);
}

#settings-actions {
    margin: 1rem 0 0 1rem;
    width: calc(100vw - 2rem);
    left: 0;
    bottom: 0;
}

#go-back {
    position: absolute;
    top: -1rem;
    left: -1rem;
    z-index: 100;
    background-color: var(--background-color);
    border-radius: 100%;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
}


#search-results-list {
    padding: 0;
    margin: 0;
}


#search-results-list li {
    padding: 0.5rem;
    border-radius: 2rem;
    background: #f3eaff;
    color: var(--primary-color);
    border-bottom: .1rem solid var(--primary-color);
    font-size: large;
    margin: 1rem;
    display: flex;
    cursor: pointer;
}

@media screen and (min-width: 769px) {
    #navbar, #route-input {
        margin: 0rem 4rem 2rem 4rem;
        width: calc(100% - 8rem);
    }

    #settings-actions {
        margin: 4rem 0 0 4rem;
        width: calc(100vw - 8rem);
    }
}