/* Your app custom styles here */

#arjs {
    object-fit: fill;
}

#navbar {
    margin: 0rem 2rem 2rem 2rem;
    border-radius: 2rem;
    width: calc(100% - 4rem);
}

#navbar .tab-link:first-child {
    border-radius: 2rem 0rem 0rem 2rem;
}

#navbar .tab-link:last-child {
    border-radius: 0rem 2rem 2rem 0rem;
}

@media screen and (min-width: 769px) {
    #navbar {
        margin: 0rem 4rem 2rem 4rem;
        width: calc(100% - 8rem);
    }
    
}